<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Packages" data-toc-modified-id="Import-Packages-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Packages</a></span></li><li><span><a href="#Import-Results-from-AMPL" data-toc-modified-id="Import-Results-from-AMPL-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import Results from AMPL</a></span></li><li><span><a href="#Get-the-Combinations-and-Probabilities-for-each-Row" data-toc-modified-id="Get-the-Combinations-and-Probabilities-for-each-Row-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Get the Combinations and Probabilities for each Row</a></span></li><li><span><a href="#Simulations" data-toc-modified-id="Simulations-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Simulations</a></span><ul class="toc-item"><li><span><a href="#Top-Cards-Method" data-toc-modified-id="Top-Cards-Method-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Top Cards Method</a></span></li><li><span><a href="#Remove-Card-Method" data-toc-modified-id="Remove-Card-Method-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Remove Card Method</a></span></li></ul></li></ul></div>

# Import Packages

In [1]:
import pandas as pd
import math
import random

# Import Results from AMPL

In [2]:
fileName = 'test.csv'
amplDF = pd.read_csv(fileName)
amplDF.head(100000)

,01_ace,02_two,03_three,04_four,05_five,06_six,07_seven,08_eight,09_nine,10_ten,11_jack,12_queen,13_king
0,0.0,2.0,3.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0,1,0
1,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,0,0,0
2,2.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,3.0,0,0,0
3,2.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,0,0,1
4,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41841,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0,1,1
41842,1.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,1.0,0.0,0,0,1
41843,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,1.0,0.0,0,0,1
41844,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0,1,1
41845,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,0,0,0

# Get the Combinations and Probabilities for each Row

In [3]:
tempDF = amplDF.copy()
colNames = list(tempDF.columns)

def probFunc(row):
    sumVal = 0
    prodVal = 1
    for index in colNames:
        prodVal *= math.comb(4,int(round(row[index])))
        sumVal += int(row[index])
    
    return prodVal/math.comb(52,sumVal)

def combFunc(row):
    sumVal = 0
    prodVal = 1
    for index in colNames:
        prodVal *= math.comb(4,int(round(row[index])))
        sumVal += int(row[index])
    
    return prodVal*math.factorial(sumVal)*math.factorial(52-sumVal)

def sumCheckFunc(row):
    sumVal = 0
    for index in colNames:
        powVal = int(index.split('_')[0])
        sumVal += powVal*int(round(row[index]))
    
    return sumVal

def baseFiveFunc(row):
    sumVal = 0
    for index in colNames:
        powVal = int(index.split('_')[0])
        sumVal += 5**(powVal-1)*int(round(row[index]))
    
    return sumVal

tempDF['Base 5'] = tempDF.apply(lambda x:baseFiveFunc(x),axis=1)
tempDF['Sum Check'] = tempDF.apply(lambda x:sumCheckFunc(x),axis=1)
tempDF['Probability'] = tempDF.apply(lambda x:probFunc(x),axis=1)
tempDF['Combinations'] = tempDF.apply(lambda x:combFunc(x),axis=1)

In [4]:
print(sum(tempDF['Sum Check'] == 52))
print(len(tempDF['Base 5'].unique()))

41846
41846

In [5]:
print('Total Combinations:',sum(tempDF['Combinations']))
print('52!:',math.factorial(52))
print(sum(tempDF['Combinations'])/math.factorial(52))
print(sum(tempDF['Probability']))

Total Combinations: 32971740890333113723397069860455410468048612024114164531200000000000
52!: 80658175170943878571660636856403766975289505440883277824000000000000
0.40878362076074815
0.4087836207607419

In [6]:
tempDF['Card Counts'] = tempDF[colNames].apply(lambda x:sum(x), axis=1)
print(max(tempDF['Card Counts']))

18.0

In [7]:
tempDF.to_csv('solutions.csv')

# Simulations

In [31]:
cardList = []
for i in range(13):
    cardList += 4*[i+1]

print(cardList)
n = 10000000

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13]

## Top Cards Method

In [32]:
sum52 = 0
sumNot52 = 0
for i in range(n):
    tempList = cardList.copy()
    random.shuffle(tempList)
    
    sumVal = 0
    while sumVal < 52:
        sumVal += tempList.pop()
    
    if sumVal == 52:
        sum52 += 1
    else:
        sumNot52 += 1

percent52 = sum52/(sum52+sumNot52)
print(percent52)

0.1421457

## Remove Card Method

In [77]:
sum52 = 0
sumNot52 = 0
for i in range(n):
    tempList = cardList.copy()
    random.shuffle(tempList)
    
    bool52 = True
    while tempList:
        popLen = tempList[0]
        
        if popLen <= len(tempList):
            for j in range(popLen):
                tempList.pop(0)
        else:
            bool52 = False
            tempList = []
    
    if bool52:
        sum52 += 1
    else:
        sumNot52 += 1

percent52 = sum52/(sum52+sumNot52)
print(percent52)

0.1418785